@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    @*DRG Comment to show the LoginDisplay in the NavMenu
    <main>
         <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    End Comment....*@
    @*DRG Add this paragraph*@
    <div class="main">

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
